<div class="row">
    <div class="small-12 columns">
        <a ng-click="zoomIn()">Zoom In</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="small-12 large-3 columns">
        <div toon-summary></div>
    </div>
    <div class="small-12 large-9 columns">
        <div class="game-map" ng-style="mapStyle">
            <svg id="game-map-svg" 
                xmlns="http://www.w3.org/2000/svg" version="1.1">
                <g id="my-toon" opacity="0">
                    <g class="legs-stationary">
                        <line fill="none" stroke="#231F20" stroke-miterlimit="10" x1="7.17" y1="6.933" x2="7.17" y2="12.184"/>
                        <line fill="none" stroke="#231F20" stroke-miterlimit="10" x1="10.186" y1="6.932" x2="10.186" y2="12.184"/>
                    </g>
                    <g class="legs-walk" opacity="0">
                        <line fill="none" stroke="#231F20" stroke-miterlimit="10" x1="8.242" y1="6.976" x2="10.227" y2="11.838"/>
                        <line fill="none" stroke="#231F20" stroke-miterlimit="10" x1="9.234" y1="6.785" x2="7.106" y2="11.586"/>
                    </g>
                    <g class="body">
                        <polygon fill="#BCBEC0" stroke="#000000" stroke-miterlimit="10" points="5.734,-4.947 2.946,1.668 5.38,1.305 4.378,7.721 
                            11.158,6.63 13.603,5.005 14.637,-4.727  "/>
                        <polygon fill="#BCBEC0" stroke="#000000" stroke-miterlimit="10" points="10.848,-9.05 2.65,-3.848 12.157,-4.023 18.158,-2.523    
                            "/>
                        <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="6.515" y1="-1.698" x2="8.763" y2="-2.523"/>
                        <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="4.989" y1="3.805" x2="8.17" y2="2.453"/>
                    </g>
                </g>

                <g class="svg-town" ng-repeat="loc in displayedLocations" opacity="0">
                    <rect x="4.834" y="9.179" fill="none" stroke="#000000" stroke-miterlimit="10" width="9.686" height="7.947"/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="3.71,9.809 9.693,4.873 15.574,9.687   "/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="4.834,12.782 1.34,12.782 1.34,5.306 9.168,5.306   "/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12.08,5.814"/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="0.217,5.936 6.2,1 10.77,4.634     "/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="12.522,7.05 18.499,7.05 18.499,14.133 14.447,14.133   "/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="10.581,5.297 13.673,2.744 19.554,7.558    "/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M10.581,5.297"/>
                </g>
            </svg>
        </div>
    </div>
</div>
<hr>
<div class="row" ng-controller="ToonLogCtrl">
    <div class="small-12 columns">
        <div toon-log ng-repeat="log in toonLogs" item="log"></div>
    </div>
</div>
