<div class="row">
    <div class="small-12 columns">
        <a ng-click="toonZoom()">Toon Zoom</a>
    </div>
</div>
<hr>
<div class="row">
    <div class="small-12 large-3 columns">
        <div toon-summary></div>
    </div>
    <div class="small-12 large-9 columns">
        <div class="game-map" ng-style="mapStyle">
            <svg id="game-map-svg" 
                xmlns="http://www.w3.org/2000/svg" version="1.1">
                <g id="my-toon" opacity="0">
                    <g class="toon-legs">
                        <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="5.514" y1="16.046" x2="5.514" y2="23.453"/>
                        <line fill="none" stroke="#000000" stroke-miterlimit="10" x1="10.258" y1="15.778" x2="10.258" y2="23.453"/>
                    </g>
                    <g class="toon-body">
                        <polygon fill="#A0A0A0" stroke="#000000" stroke-miterlimit="10" points="3.416,6.313 2.857,13.984 7.607,17.672 13.295,13.609 
                            12.488,6.313    "/>
                        <polygon fill="#A0A0A0" stroke="#000000" stroke-miterlimit="10" points="8.584,1.172 1.357,5.797 8.076,8.422 14.982,5.484    "/>
                        <polyline fill="#A0A0A0" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" points="4.232,9.797 5.67,9.109 6.795,9.797 
                                "/>
                        <polyline fill="#A0A0A0" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" points="8.977,9.797 10.414,9.109 
                            11.539,9.797    "/>
                        <polyline fill="#A0A0A0" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" points="7.545,10.484 6.045,12.484 
                            7.545,12.172    "/>
                        <path fill="#A0A0A0" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" d="M5.514,14.109c0.219,0,3.906,0,3.906,0
                            l0.838-0.562"/>
                        <line fill="#A0A0A0" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="5.356" y1="9.797" x2="5.671" y2="9.797"/>
                        <line fill="#A0A0A0" stroke="#000000" stroke-width="0.5" stroke-miterlimit="10" x1="10.101" y1="9.797" x2="10.415" y2="9.797"/>
                   </g>
                   <rect class="toon-health-bar" x="16.469" y="0.219" fill="#A0A0A0" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" width="3.25" height="14.469"/>
                </g>

                <g class="svg-town" ng-repeat="loc in displayedLocations" opacity="0">
                    <rect x="4.834" y="9.179" fill="none" stroke="#000000" stroke-miterlimit="10" width="9.686" height="7.947"/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="3.71,9.809 9.693,4.873 15.574,9.687   "/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="4.834,12.782 1.34,12.782 1.34,5.306 9.168,5.306   "/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M12.08,5.814"/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="0.217,5.936 6.2,1 10.77,4.634     "/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="12.522,7.05 18.499,7.05 18.499,14.133 14.447,14.133   "/>
                    <polyline fill="none" stroke="#000000" stroke-miterlimit="10" points="10.581,5.297 13.673,2.744 19.554,7.558    "/>
                    <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M10.581,5.297"/>
                </g>

                <path id="my-destination" fill="#B72121" stroke="#000000" stroke-width="0.25" stroke-miterlimit="10" d="M10.308,18.594L8.938,8.562L3.933,7.016 c0-3.521,2.854-6.375,6.375-6.375c3.521,0,6.375,2.854,6.374,6.375l-5.006,1.546C11.676,8.562,10.307,18.594,10.308,18.594z"/>

            </svg>
        </div>
    </div>
</div>
<hr>
<div class="row" ng-controller="ToonLogCtrl">
    <div class="small-12 columns">
        <div toon-log ng-repeat="log in toonLogs" item="log"></div>
    </div>
</div>
