<div ng-controller="AdminCtrl" ng-cloak>
    <div class="admin-wrapper">
        <div class="title">
            Admin
        </div>
        <div class="inbl">
            <button class="button tiny" data-reveal-id="admin-new-player-modal">
                New Player
            </button>
        </div>
        <div class="inbl">
            <select ng-model="admin.selectedToon"
                ng-options="toon._id as toon.name for toon in allToons"
                ng-change="selectedToonChange(admin.selectedToon)"></select>
        </div>
        <div class="inbl">
            <button class="button tiny" ng-click="showAllLocs()">Show All Locs</button>
        </div>

    </div>
    <div id="admin-new-player-modal" class="reveal-modal small">
        <h2>Create a New Player</h2>
        <p>
            <input type="text" placeholder="name" ng-model="admin.newPlayerName">
            <button class="button small right" ng-click="submitNewPlayer(admin.newPlayerName)">Submit</button>
        </p>
        <a class="close-reveal-modal">&#215;</a>
    </div>
</div>
