
<!DOCTYPE html>
<!--[if IE 8]> 				 
    <html class="no-js lt-ie9" lang="en" > 
<![endif]-->

<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="roamaor">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Roamaor</title>

  
  <link rel="stylesheet" href="static/stylesheets/app.css">
  

  <script src="static/javascripts/vendor/custom.modernizr.js"></script>

</head>
<body>
    
    {{.MenuHtml}}
    {{.AdminHtml}}

    <div class="god-wrapper">
        
        <div class="row" ng-show="userFeedback">
            <div class="small-12">
                {{userFeedback}}
            </div>
        </div>

        <ng-view></ng-view>
    </div>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'static/javascripts/vendor/zepto' : 'static/javascripts/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="static/javascripts/foundation/foundation.js"></script>
	
	<script src="static/javascripts/foundation/foundation.abide.js"></script>
	
	<script src="static/javascripts/foundation/foundation.alerts.js"></script>
	
	<script src="static/javascripts/foundation/foundation.clearing.js"></script>
	
	<script src="static/javascripts/foundation/foundation.cookie.js"></script>
	
	<script src="static/javascripts/foundation/foundation.dropdown.js"></script>
	
	<script src="static/javascripts/foundation/foundation.forms.js"></script>
	
	<script src="static/javascripts/foundation/foundation.interchange.js"></script>
	
	<script src="static/javascripts/foundation/foundation.joyride.js"></script>
	
	<script src="static/javascripts/foundation/foundation.magellan.js"></script>
	
	<script src="static/javascripts/foundation/foundation.orbit.js"></script>
	
	<script src="static/javascripts/foundation/foundation.placeholder.js"></script>
	
	<script src="static/javascripts/foundation/foundation.reveal.js"></script>
	
	<script src="static/javascripts/foundation/foundation.section.js"></script>
	
	<script src="static/javascripts/foundation/foundation.tooltips.js"></script>
	
    <script src="static/javascripts/foundation/foundation.topbar.js"></script>
	
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    
    <script src="static/javascripts/vendor/d3.js"></script>
  
    <script src="static/javascripts/vendor/underscore.js"></script>

    <script src="static/javascripts/app.js"></script>
	
  
  <script>
    $(document).foundation();
  </script>
</body>
</html>
