<div class="row">
    <div class="small-6 small-centered columns">
        <h3 class="subheader">Log on</h3>
        <p>
            Or in, or whatever.
        </p>
        <form action="/login" method="POST">
            <label>Email</label>
            <input type="text" name="email" placeholder="your@email.here">
            <label>Password</label>
            <input type="password" name="password">
            <button type="submit" class="button">Submit me</button>
        </form>
    </div>
</div>
